<script>
    window.__cerberus__ = {
        PROJECT: "{{env.PROJECT}}"
    }
</script>
<link href="{{env.PROJECT}}/css/home.css" rel="stylesheet" />

<div class="container">
    <div class="row">

        <div class="col-6 col-sm-4 col-lg-4">
            <div class="card">
                <div class="card-body text-center">
                    <div class="h1 m-0">0</div>
                    <div class="text-muted mb-4">New Tickets</div>
                </div>
            </div>
        </div>

        <div class="col-6 col-sm-4 col-lg-4">
            <div class="card">
                <div class="card-body text-center">
                    <div class="h1 m-0">0</div>
                    <div class="text-muted mb-4">New Tickets</div>
                </div>
            </div>
        </div>

        <div class="col-6 col-sm-4 col-lg-4">
            <div class="card">
                <div class="card-body text-center">
                    <div class="h1 m-0">0</div>
                    <div class="text-muted mb-4">New Tickets</div>
                </div>
            </div>
        </div>

        <div class="col-6 col-sm-4 col-lg-4">
            <div class="card">
                <div class="card-body text-center">
                    <div class="h1 m-0">0</div>
                    <div class="text-muted mb-4">New Tickets</div>
                </div>
            </div>
        </div>

        <div class="col-6 col-sm-4 col-lg-4">
            <div class="card">
                <div class="card-body text-center">
                    <div class="h1 m-0">0</div>
                    <div class="text-muted mb-4">New Tickets</div>
                </div>
            </div>
        </div>

        <div class="col-6 col-sm-4 col-lg-4">
            <div class="card">
                <div class="card-body text-center">
                    <div class="h1 m-0">0</div>
                    <div class="text-muted mb-4">New Tickets</div>
                </div>
            </div>
        </div>

    </div>
</div>