<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script>
        window.__cerberus__ = {
            PROJECT_URL: "{{env.PROJECT_URL}}"
        }
    </script>
    <link rel="icon" type="image/x-icon" href="{{env.PROJECT_URL}}/img/me.png" />
    <link rel="shortcut icon" type="image/x-icon" href="{{env.PROJECT_URL}}/img/me.png" />
    <link href="{{env.PROJECT_URL}}/css/dashboard.css" rel="stylesheet" />

    <!-- Jquery -->
    <script src="{{env.PROJECT_URL}}/js/jquery.min.js"></script>
    <script src="{{env.PROJECT_URL}}/js/jquery.cookie.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
        crossorigin="anonymous"></script>

    <!-- Bootstrap -->
    <script src="{{env.PROJECT_URL}}/js/bootstrap/bootstrap.min.js"></script>

    <!-- DataTables -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
    <script src="http://cdn.datatables.net/1.10.15/js/jquery.dataTables.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>

    <!-- Layout -->
    <link rel="stylesheet" href="{{env.PROJECT_URL}}/css/layout.css">
    <script src="{{env.PROJECT_URL}}/js/layout.js"></script>

    <title>{{__ 'Company Name'}}</title>
</head>

<body>
    <!-- header -->
    <div class="header">
        <div class="container">
            <div class="d-flex">
                <!-- logo -->
                <a class="navbar-brand">
                    <img src="{{env.PROJECT_URL}}/img/tabler.svg" class="navbar-brand-img" alt="tabler.io">
                </a>
                <div class="ml-auto d-flex order-lg-2">
                    <div class="dropdown">
                        <a class="nav-link pr-0" data-toggle="dropdown">
                            <span class="avatar" style="background-image: url({{env.PROJECT_URL}}/img/me.png)"></span>
                            <span class="ml-2 d-lg-block">
                                <span class="text-default">Abner</span>
                                <small class="text-muted d-block mt-1">Administrator</small>
                            </span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                            <a class="dropdown-item" id="signOut">{{__ 'Sign Out'}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- nav -->
    <div class="header-nav d-lg-flex">
        <div class="container">
            <div class="row align-items-center">
                <div class="col">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a href="{{env.PROJECT_URL}}" class="nav-link active"><i class="fe fe-home"></i>{{__ 'Home'}}</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{env.PROJECT_URL}}/vendor" class="nav-link"><i class="fe fe-box"></i>{{__ 'Vendors'}}</a>
                        </li>
                        <li class="nav-item">
                            <a href="javascript:void(0)" class="nav-link"><i class="fe fe-calendar"></i>{{__ 'Report'}}</a>
                            <div class="nav-submenu nav">
                                <a href="./maps.html" class="nav-item ">Maps</a>
                                <a href="./icons.html" class="nav-item ">Icons</a>
                                <a href="./store.html" class="nav-item ">Store</a>
                                <a href="./blog.html" class="nav-item ">Blog</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a href="javascript:void(0)" class="nav-link"><i class="fe fe-file"></i>{{__ 'Admin'}}</a>
                            <div class="nav-submenu nav">
                                <a href="./profile.html" class="nav-item ">Profile</a>
                                <a href="./login.html" class="nav-item ">Login</a>
                                <a href="./register.html" class="nav-item ">Register</a>
                                <a href="./forgot-password.html" class="nav-item ">Forgot password</a>
                                <a href="./400.html" class="nav-item ">400 error</a>
                                <a href="./104.html" class="nav-item ">401 error</a>
                                <a href="./403.html" class="nav-item ">403 error</a>
                                <a href="./404.html" class="nav-item ">404 error</a>
                                <a href="./500.html" class="nav-item ">500 error</a>
                                <a href="./503.html" class="nav-item ">503 error</a>
                                <a href="./email.html" class="nav-item ">Email</a>
                                <a href="./empty.html" class="nav-item ">Empty page</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- content -->
    <div class="page-content">
        {{{body}}}
    </div>

    <!-- footer -->
    <footer class="footer">
        <div class="container">
            <div class="text-center">
                Copyright © 2018 {{__ 'Company Name'}} All rights reserved
            </div>
        </div>
    </footer>

</body>

</html>