<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="author" content="Kodinger">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>{{__ 'Company Name'}}</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/login.css">
	<link rel="shortcut icon" href="https://www.cnblogs.com/favicon.ico">

	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
	 crossorigin="anonymous"></script>

</head>

<script>

</script>

<body class="my-login-page">
	<section class="h-100">

		<!-- Modal -->
		<div class="modal fade" id="alertModalId" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="z-index: 9999">
			<div class="modal-dialog" role="document">
				<div class="alert alert-success" role="alert">
					<h4 class="alert-heading text-center">{{__ 'Login Error'}}</h4>
					<p id="alertContentId" class="text-center"></p>
				</div>
			</div>
		</div>

		<div class="dropdown show" style="padding: 20px; position: absolute; right: 0px">
			<a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
			 aria-expanded="false">
				{{__ 'Language'}}
			</a>

			<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
				<a class="dropdown-item" id="zh-btn" href="/">中文</a>
				<a class="dropdown-item" id="en-btn" href="/">English</a>
			</div>
		</div>

		<div class="container h-100">
			<div class="row justify-content-md-center h-100">
				<div class="card-wrapper col-lg-6 col-lg-offset-3 col-sm-8 col-sm-offset-4 col-xs-10 col-xs-offset-5 container col-center-block">
					<div class="brand">
						<img src="img/logo.png">
					</div>
					<div class="card fat">
						<div class="card-body">
							<h4 class="card-title text-center">{{__ 'Login'}}</h4>
							<form>
								<div class="form-group">
									<label for="email">{{__ 'E-Mail Address'}}</label>

									<input id="email" type="email" class="form-control" name="email" value="" required autofocus>
								</div>

								<div class="form-group">
									<label for="password">{{__ 'Password'}}
										<a href="forgot" class="float-right">
											{{__ 'Forgot Password'}}?
										</a>
									</label>
									<input id="password" type="password" class="form-control" name="password" required>
								</div>

								<div class="form-group">
									<label>
										<input type="checkbox" name="remember"> {{__ 'Remember Me'}}
									</label>
								</div>

								<div class="form-group no-margin">
									<button id="login-btn" class="btn btn-primary btn-block" type="button">
										{{__ 'Login'}}
									</button>
								</div>
								<div class="margin-top20 text-center">
									{{__ 'No Account'}}?
									<a href="register">{{__ 'Create One'}}</a>
								</div>
							</form>
						</div>
					</div>
					<div class="footer">
						Copyright &copy; 2019 &mdash; {{__ 'Company Name'}}
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- must set them here -->
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap/bootstrap.min.js"></script>
	<script src="js/jquery.cookie.js"></script>
	<script src="js/login.js"></script>

</body>

</html>